/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap'); */


/* * {
font-family: 'Cairo', sans-serif !important;
} */

.swal2-icon.swal2-warning.swal2-icon-show {
    font-size: 1rem;
}

.toast-success {
    background-color: #17b748;
}

.container-login100 {
    background: #ecf0fa;
}

.header-lang-icon {
    font-size: 1.3rem;
    margin-right: 16px;
    width: 20px !important;
    height: 20px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    color: #a8b1c7;
    fill: #5b6e88;
    transition: .3s
}

.main-message-list a .time {
    font-size: 15px;
    color: #8d8db3;
    font-weight: 400;
}

.is-invalid {
    border: 2px solid #f44336;
}

.invalid-feedback {
    display: block;
}

.icon_sidebar {
    font-size: 23px;
    line-height: 0;
    width: 22px;
    height: 22px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    color: #a8b1c7;
    fill: #5b6e88;
    overflow: hidden;
    vertical-align: middle;
}

.main-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.fa-chevron-up {
    padding-top: 0;
    font-size: 20px;
    line-height: 2.4;
}

.admin-image {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* ****************************************************** */


/* **************** Main Button  ************************ */

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 15px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


/* **************** Main Button  ************************ */


/* ****************************************************** */

textarea {
    resize: none;
}

.tr-class-action {
    width: 14% !important;
}

.row-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    align-items: center;
    justify-content: center;
    align-items: start;
}

.product_edit_image {
    max-width: 230px;
}

@media screen and (max-width:768px) {
    .side-menu__item {
        display: flex;
        column-gap: 1rem;
    }
}


/* **************************************************************************** */


/* ************************** TableDates Custom Css  ************************** */

.dataTables_wrapper .dataTables_paginate .page-item.disabled .page-link,
.dataTables_paginate .page-item.active .page-link {
    padding: 0 !important;
    width: fit-content;
    padding: 6px 9px !important;
    height: fit-content;
    font-size: 14px;
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 14px;
}

div.table-responsive>div.dataTables_wrapper>div.row {
    align-items: center;
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
    padding: 0 .8rem 0 0.15rem;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
}


/* ************************** TableDates Custom Css  ************************** */


/* **************************************************************************** */


/* **************************************************************************** */


/* **************** MultField Form Product Attributes  ************************ */

.multattributesform {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 1.5rem;
    background: #ecf0fa;
    padding: 1rem;
    flex-wrap: wrap;
}

.added-field-attribute {
    flex-wrap: wrap;
    margin-top: 2rem;
    column-gap: 1.5rem;
}

.added-field-attribute-deleted-btn {
    position: relative;
    top: -0.5rem;
    color: #f44336;
    font-weight: 900;
}

.product-info {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
}

@media screen and (min-width:768px) {
    .product-info {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media screen and (max-width:551px) {
    .product-info {
        grid-template-columns: repeat(auto-fill, minmax(226px, 1fr));
    }
    .multattributesform .form-group {
        width: 100%;
    }
}


/* **************** MultField Form Product Attributes  ************************ */


/* **************************************************************************** */


/* **************************************************************************** */


/* **************** Custtom Multi Carousal CSS   ****************************** */

.swiper {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 260px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:768px) {
    .swiper-slide {
        width: 190px;
        height: 220px;
    }
}


/* **************** Custtom Multi Carousal CSS   ****************************** */


/* **************************************************************************** */