@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');
* {
    font-family: 'Cairo', sans-serif;
}

 :root {
    --main-color: #009688
}

ul {
    list-style: none;
}

.home-link {
    color: #666666;
    text-transform: uppercase;
    font-weight: 700;
    padding: 4px;
}

.primary .menu-item.home-icon i {
    color: #666666;
}

.section-title {
    font-size: 17px;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 2px;
    width: fit-content;
    margin-top: 2rem;
}

.section-title:first-child {
    margin-top: 0;
}

.shop-image {
    border: 6px solid #f1f1f1;
    box-shadow: rgb(0 0 0 / 40%) 2px 11px 2px, rgb(0 0 0 / 30%) 0px 15px 16px -3px, rgb(0 0 0 / 20%) 3px 4px 0px inset;
}

@media (max-width: 1024px) {
    .header .main-info-area .right-section .show-up-after-1024 {
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 1000000000;
        color: white;
        border-radius: 5px;
        background: #f9f9f9;
        box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    }
    .header .main-info-area .right-section .show-up-after-1024 a {
        border-radius: 5px;
    }
    .header .main-info-area .right-section .show-up-after-1024 span {
        background-color: #009688;
    }
    .mercado-panel li {
        padding: 0;
    }
    .link-term.mercado-item-title.active {
        padding: 0.3rem 1rem;
        display: block;
    }
    .fa-home {
        font-size: 20px;
        color: white;
        padding: 0 5px;
        position: relative;
        top: 2px;
    }
}

.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage {
    max-height: 350px;
}

.mega__menu__image {
    max-width: 10vw;
    max-height: 10vw;
    border-radius: 1rem;
    display: block;
    margin-bottom: 1rem;
    box-shadow: rgb(0 0 0 / 40%) 2px 5px 2px, rgb(0 0 0 / 30%) 0px 12px 3px -3px, rgb(0 0 0 / 20%) 2px 2px 0px inset
}

.breadcrumb_cat {
    color: var(--main-color);
    margin-top: 0.5rem;
    display: inline-block;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.list-style.inline-round {
    display: flow-root;
}

@media screen and (max-width:991px) {
    .mega__menu__image {
        max-width: 150px;
        margin: auto;
        max-height: unset
    }
}


/* **************************************************************************** */


/* **************** Toggle Between List & Grid Products   ********************* */

.cat-titles {
    background: #f5f5f5;
    padding: 7px 19px;
}

.cat-titles h5 {
    line-height: 1.7;
}

.grid-products.product-grid-template {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: auto;
    text-align: center;
    column-gap: 6rem;
    padding: 15px;
}

.product-list-template {
    padding: 7px 5px;
}

.product-grid-template.disactive {
    display: none;
}

.product-list-template.disactive {
    display: none;
}

.product-list li .product.product-style-3 {
    height: auto !important;
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
}

.product-description {
    line-height: 1.6;
    font-size: 14px;
    padding: 5px 0;
}

.product-list a.add-to-cart {
    width: 30%;
}

@media (max-width: 551px) {
    .product-list li .product.product-style-3 {
        display: grid;
        align-items: center;
        text-align: center;
    }
    .product-list li .product.product-style-3 .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-style-3 a.add-to-cart {
        width: 80%;
    }
    .product .product-info .wrap-price {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .product .product-info .wrap-price,
    .product-grid-template .product-info .brand,
    .product.product-style-3 .product-name span {
        text-align: center;
    }
}


/* **************** Toggle Between List & Grid Products   ********************* */


/* **************************************************************************** */


/* **************************************************************************** */


/* ************************ Custom Button   *********************************** */

.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: var(--main-color);
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    padding: 8px 21px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 15px;
    font-weight: 500;
    margin-top: 1.5rem;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


/* ************************ Custom Button   *********************************** */


/* **************************************************************************** */


/* **************************************************************************** */


/* ****************** Custom Checkbox Input   ********************************* */

.widget-content.sleeve,
.widget-content.pattern,
.widget-content.fabrics,
.widget-content.fit,
.widget-content.occasion {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.material__label {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.material__label:hover {
    background: #00968817;
    border-radius: 5px;
}

.material__label+input[type="checkbox"] {
    background: #00968817;
    border-radius: 5px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: flex;
    place-content: center;
    background: #00968830;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}


/* ****************** Custom Checkbox Input   ********************************* */


/* **************************************************************************** */


/* **************************************************************************** */


/* ************************* custom gallery   ********************************* */

.gellery {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: white;
    row-gap: 2rem;
}

.gellery .master__image img {
    max-width: 100%;
}

.gellery .thumnails {
    overflow: hidden;
    display: flex;
    padding: 0 1rem;
}

.gellery .thumnails img {
    border: 1px solid #cccccc45;
    padding: 1.5rem;
    transition: 0.4s;
    opacity: 0.5;
    max-width: 80px !important;
    cursor: pointer;
    border-radius: 50%;
}

.gellery .thumnails img.selected {
    border: 1px solid var(--main-color);
    opacity: 1;
}

.master__image {
    margin-bottom: 1.5rem;
    min-height: 300px;
    position: relative;
}

.thumnails img:last-child {
    margin-right: 0 !important;
}

.master__image .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.master__image .icon.fa-chevron-right {
    right: 0;
}

.master__image .icon.fa-chevron-left {
    left: 0;
}


/* ************************* custom gallery   ********************************* */


/* **************************************************************************** */

.addToCartform {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.invalid-feedback,
form.cmxform label.error,
label.error {
    display: block;
    color: #f44336 !important;
}

.invalid-feedback.country_alert {
    margin-top: 1.6rem;
}

#toast-container {
    z-index: 999999999;
}

.text-success {
    color: #8bc34a;
}

a.text-success:hover,
a.text-success:focus {
    color: #4caf50;
}


/* **************************************************************************** */


/* ******************************* Shop Page  ********************************* */

.categories-widget .title {
    margin-top: 3px;
}

.categories-widget .title,
.filter-widget .title,
.brands-widget .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    padding: 10px 3px;
    margin-bottom: 9px;
    border-radius: 4px;
}

.categories-widget .title i,
.filter-widget .title i,
.brands-widget .title i {
    cursor: pointer;
}

.widget-content.sleeve,
.widget-content.pattern,
.widget-content.fabrics,
.widget-content.fit,
.widget-content.occasion {
    display: none;
}

#categories_list,
#brands_list {
    display: block;
}


/* ******************************* Shop Page  ********************************* */


/* **************************************************************************** */


/* **************************************************************************** */


/* ******************************* Navbar Menu  ******************************* */

#navbar__link {
    display: none;
}

@media (max-width: 991px) {
    #navbar__link {
        display: block;
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        text-align: center;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 60px);
        background: white;
        z-index: 3;
        display: none;
        opacity: 0;
    }
    #navbar__link ul li {
        margin: 2rem 0;
        transition: 0.5s;
    }
    #navbar__link ul li a {
        font-size: 2rem;
        color: var(--main-color);
        transition: 0.5s;
        padding: 3px 15px;
    }
    #navbar__link ul li a.active {
        box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset, rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
        border-radius: 10px;
        background-color: unset !important;
    }
    #navbar__link.active {
        display: flex;
        opacity: 1;
        bottom: 0px;
    }
}


/* ******************************* Navbar Menu  ******************************* */


/* **************************************************************************** */

.country .chosen-container {
    display: block;
    width: 100% !important;
    height: 3rem;
}

.country .chosen-container-single .chosen-single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 43px;
}

.country .chosen-container-single .chosen-single div {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
    transform: translateY(-25%);
}

.country .chosen-container .chosen-drop {
    top: 147%;
    z-index: 1010;
    width: 100% !important;
}

.country .wrap-login-item .form-item input[type="text"] {
    height: unset !important;
}


/* **************************************************************************** */


/* ******************************* Navbar  ************************************ */


/* ******************************* Navbar  ************************************ */


/* **************************************************************************** */